### **Exercise 1:**
The Recamán sequence is a famous sequence invented by the Colombian mathematician, Bernardo Recamán Santos. It is defined by the following algorithm, starting at $a_0=0$:

$ a_n=a_{n-1}−n$ if $a_{n-1}-n > 0  $ and has not already appeared in the sequence; 

$ a_n=a_{n−1}+n$ otherwise

Write a function that returns the first N elements of this sequence.

In [7]:
def RECAMAN(n):
    a=[0 for i in range(n)]
    for i in range(1,n):
        b=a[i-1]-i
        if(b>0 and b not in a):
            a[i]=a[i-1]-i
        else:
            a[i]=a[i-1]+i
    return a    
RECAMAN(10)

[0, 1, 3, 6, 2, 7, 13, 20, 12, 21]

### **Exercise 2:**
Write a function to solve a quadratic equation.

In [20]:
def SOLV(a,b,c):
    x1=(-b+(b**2-4*a*c)**(1/2))/2.0
    x2=(-b-(b**2-4*a*c)**(1/2))/2.0
    return (x1,x2)
print(SOLV(1,2,3))

((-0.9999999999999999+1.4142135623730951j), (-1-1.4142135623730951j))

### **Exercise 3**
Print the list `mylist` sorted in descending order. The original list should not be modified

In [29]:
mylist=[1,-99,89,0,234,77,-748,11]
copy=mylist
copy.sort(reverse=True)
print(copy)

[234, 89, 77, 11, 1, 0, -99, -748]

### **Exercise 4:**
Given 2 lists, produce a list containing common items between the two.

In [31]:
def UN(A,B):
    c=[]
    for a in A:
        for b in B:
            if a==b:
                c.append(a)
    return c
A=[5,3,1,2,"Sara"]
B=["Nada","Ronald","Ines","Sara"]
UN(A,B)

['Sara']

### **Exercise 5:**
Create a function that returns a list of all pairs of factors (as tuples) of a given number using list comprehension.

In [40]:
print(5%2)
def pairs(n):
    j=0
    a=[]
    for i in range(1,n//2):
         if(n%i==0 and n//i>i):
                j=n//i
                a.append((i,j))
    return a

pairs(100)

1

[(1, 100), (2, 50), (4, 25), (5, 20)]

### **Exercise 6:**
Create a list of all numbers divisible by 3 and smaller than 1000 in 4 different ways:
 
 - naive way where you just create a list and append data in a loop
 - using list comprehension
 - slicing an existing list
 - directly with `range()`

Time all of them.

In [54]:
#NUMBER 1
a=[]
for i in range(1000//3+1):
    a.append(3*i)
#NUMBER 2
a=[3*i for i in range(1000//3+1)]
#NUMBER 3
b=[i for i in range(1001)]
a=b[0::3]
#NUMBER 4
a=range(0,1001,3)

### **Exercise 7:**
Write a function to check if a string (containing spaces and capital letters, but no punctuation marks) is a palindrome (use help to see which functions are available for a string).

In [59]:
def checking(a):
    b=True
    for i in range(len(a)):
        if a[i]!=a[len(a)-1-i]:
            b=False
            break
    return b
a="Perro"

### **Exercise 8:**
Write a function to find a character with a maximum number of occurences in a string. Return a tuple with that character and the number. You can ignore ties. Only use string's inbuilt functions and the function `max` (use help to see how to use it).

In [62]:
def OCCURENCES(a):
    c=0
    for i in range(len(a)):
        if c<a.count(a[i]):
            c=a.count(a[i])
            b=a[i]
            a.replace(b,"")
    return (b,c) 

OCCURENCES("Gatoa")
    #count

('a', 2)

### **Exercise 9:**
Write a function that return the first N prime numbers using the Sieve of Eratosphenes algorithm

https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes